<!-- Topbar Start -->
<div class="navbar-custom">
    <div class="container-fluid">
        <ul class="list-unstyled topnav-menu float-end mb-0">
            <!-- search menu -->
            <li class="d-none d-lg-block">
                <form class="app-search">
                    <div class="app-search-box" ngbDropdown placement="bottom-start">
                        <div class="input-group">
                            <input type="search" class="form-control" placeholder="Search..." id="topSearch"
                                ngbDropdownToggle>
                            <button class="btn input-group-text" type="submit">
                                <i class="fe-search"></i>
                            </button>
                        </div>
                        
                    </div>
                </form>
            </li>

            <li class="d-inline-block d-lg-none" ngbDropdown placement="bottom-start">
                <a class="nav-link arrow-none waves-effect waves-light" href="javascript:void(0);" role="button"
                    ngbDropdownToggle>
                    <i class="fe-search noti-icon"></i>
                </a>
                <div class="dropdown-menu-end  dropdown-lg p-0 noti-dropdown" ngbDropdownMenu>
                    <form class="p-3" ngbDropdownItem>
                        <input type="text" class="form-control" placeholder="Search ..."
                            aria-label="Recipient's username">
                    </form>
                </div>
                
            </li>

            <!-- full screen button -->
            
            <button class="btn btn-info navbar-btn" [routerLink]="['/auth/login']" *ngIf="!loggedInUser">Login</button>
            <button class="btn btn-info navbar-btn" [routerLink]="['/auth/logout']" *ngIf="loggedInUser">Logout</button>
        
            

            <!-- brands menu -->
            

            

            <!-- right menu button -->
            <li class="dropdown notification-list">
                <a href="javascript:void(0);" class="nav-link right-bar-toggle waves-effect waves-light"
                    (click)="toggleRightSidebar()">
                    <i class="fe-settings noti-icon"></i>
                </a>
            </li>
        </ul>

        <!-- LOGO -->
        <div class="logo-box">
            <a [routerLink]="'../dashboard-1'" class="logo logo-dark text-center">
                <span class="logo-sm">
                    <img src="../assets/images/Logo_sans fond.png" alt="" width="170" style="margin-top: -20px;">
                </span>
                <span class="logo-lg">
                    <img src="../assets/images/Logo_sans fond.png" alt="" width="150" style="margin-top: -20px;" *ngIf="layoutType!=='two-column'">
                    <img src="../assets/images/Logo_sans fond.png" alt="" width="150" style="margin-top: -20px;" *ngIf="layoutType==='two-column'">
                </span>
            </a>

            <a [routerLink]="'../dashboard-1'" class="logo logo-light text-center">
                <span class="logo-sm">
                    <img src="../assets/images/Logo_sans fond.png" alt="" height="22">
                </span>
                <span class="logo-lg">
                    <img src="../assets/images/Logo_sans fond.png" alt="" width="150" style="margin-top: -20px;" *ngIf="layoutType!=='two-column'">
                    <img src="../assets/images/Logo_sans fond.png" alt="" width="150" style="margin-top: -20px;" *ngIf="layoutType==='two-column'">
                </span>
            </a>
        </div>

        <ul class="list-unstyled topnav-menu topnav-menu-left m-0">
            <li>
                <button class="button-menu-mobile waves-effect waves-light d-none d-lg-block"
                    (click)="changeSidebarWidth()" *ngIf="layoutType!=='horizontal'">
                    <i class="fe-menu"></i>
                </button>
            </li>

            <li>
                <button class="button-menu-mobile open-left d-block d-lg-none waves-effect waves-light"
                    *ngIf="layoutType!=='horizontal'" (click)="toggleMobileMenu($event)">
                    <i class="fe-menu"></i>
                </button>
            </li>

            <li>
                <!-- Mobile menu toggle (Horizontal Layout)-->
                <a class="navbar-toggle nav-link" [ngClass]="{'open': topnavCollapsed}"
                    (click)="toggleMobileMenu($event)" *ngIf="layoutType==='horizontal'">
                    <div class="lines">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </a>
                <!-- End mobile menu toggle-->
            </li>

            
        </ul>
        <div class="clearfix"></div>
    </div>
</div>
<!-- end Topbar -->